name: Backend CI

on:
  push:
    branches: [ "main", "cloud" ]
    paths:
      - 'src/**'
      - 'build.gradle'
      - 'Dockerfile'
      - '.github/workflows/backend-ci.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build and Test with Gradle
      # src/test/resources/application.properties에 설정된 더미 값들을 사용하여 테스트를 진행합니다.
      # 우선순위가 높은 환경 변수 설정으로 인해 테스트 파일의 설정이 무시되는 현상을 방지합니다.
      run: ./gradlew build
